* {
    padding:0;
    margin:0;
    font-family: 'Roboto',sans-serif;
    box-sizing: border-box;
}

.main-unitcity {
    height: 100%;
    // background-image: url(../img/hero/Ellipse1.png),url(../img/hero/Ellipse2.png);
    // background-position: left top, right center;
    // background-repeat: no-repeat;
    background-image: url(../img/Pattern.svg);
    background-repeat: repeat-x;
    background-position-x: 50px;
    overflow: hidden;
    // background-size: cover;
    .container {
        width: 1170px;
        margin-right: auto;
        margin-left: auto;
        padding-left: 15px;
        padding-right: 15px;
    }
    .mobile{
        display: none;
    }
    .unit_top_wrapper{
        // background-image: url(../img/Texture.png);
        
        background-repeat: no-repeat;
        background-size: cover;
        background: rgba(255,214,0,0.7);;
        margin-top: 0;
        height: 700px;
        box-sizing: border-box;
        border-radius: 0px 0px 1000px 0px;
        // position: relative;
        .hero {
            position: absolute;
            background-color: transparent;
            left: 0;
            right: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 180px;
            .hero_icons {
                transform: translate(-40px, -15px);
            }
            h2 {
                max-width: 570px;
                margin-top: 35px;
                text-align: center;
            }
            .hero_links{
                margin-top: 130px;
                display: flex;
                width: 140px;
                justify-content: space-between;
                transform: translate(-40px, 10px);
            }
        }
        // .hero:after{
        //     content: url(../img/hero/Ellipse2.png);
        //     position: absolute;
        // }
        // .hero:before{
        //     content: url(../img/hero/Ellipse1.png);
        //     position: absolute;
        // }
    }
}

  .project {
      margin-top: 76px;
      position: relative;
      .yellow_stripe {
          position: absolute;
          top: 85%;
      }
      h3 {
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 140%;
        margin: 16px 0px;
      }
      p, li, ol {
        max-width: 800px;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 140%;
      }
    
   
      .tasks {
          margin: 32px 0;
          ul {
            padding-left: 20px;
            list-style: disc;
          }
      }
      .process{
          ol{
            padding-left: 20px;
            list-style: decimal;
          }
      }
  }

  .variants {
      margin-top:100px;
      .variants_wrapper {
        display: flex;
        .variants_left {
            div {
                display: flex;
                flex-direction: column;
                // flex-wrap: wrap;
                img:first-child{
                    align-self: start;
                }
                img:last-child {
                    align-self: flex-end;
                    margin-top: 30px;
                    transform: translateX(42px);
                }
            }
            .mac {
                transform: translate(-55px, -55px);
            }
        }
        .variants_right {
            .mac2{
                transform: translate(0, -70px);
            }
            img:last-child {
                transform: translate(-60px, -60px);
            }
      }
  }
}

@keyframes circle
{
    0%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0deg)
    }
}

.style {
    height: 800px;
    .style_wrapper {
        display: flex;
        position: relative;
        .style_left {
            width: 50%;
            img:first-child {
                transform: translate(80px, 10px);
            }
            img:nth-child(2) {
                transform: translate(10px, -70px);
            }

            img:last-child {
                transform: translate(-25px, -150px);
            }
        }
        .style_center {
            position: absolute;
            left: 0;
            right: 0;
            margin-top: 140px;
            transform: translateX(-30px);
            z-index: 2;
            .var {
                position: absolute;
                right: -5%;
                top: -10%;
                animation: circle 11.5s linear infinite;
                z-index: 3;
            }
        }
        .style_center:after {
            content: url(../img/style/Planet.png);
            position: absolute;
            right: -20%;
            top: -20%;
            z-index: -1;
        }
        .style_center:before {
            content: url(../img/style/1.png);
            position: absolute;
            right: -45px;
            bottom: -25px;
            z-index: -1;
        }
        .style_right {
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
        }
    }
}

.whywe{
    height: 800px;
    margin-top: 50px;
    .whywe_wrapper {
        display: flex;
        position: relative;
        .whywe_left {
            width: 50%;
            img:first-child{
                opacity: 1;
                position: absolute;
                z-index: -1;
            }
            img:last-child{
                width: 100%;
            }
        }
        .whywe_center {
            position: absolute;
            left: 0;
            right: 0;
            z-index: -1;
            img:nth-child(2) {
                transform: translate(70px, -30px);
            }
        }
        .whywe_center:after {
            content: url(../img/whywe/2.png);
            left: 53%;
            bottom: -25%;
            position: absolute;        
        }
        .whywe_right {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            width: 50%;
            img {
                transform: translate(45px, 135px);
                z-index: -1;
            }
        }
    }
}



.posability{
    height: 100%;
    margin-top: 200px;
    .posability_wrapper {
        position: relative;
        display: flex;
        .posability_left {
            display: flex;
            width: 50%;
        }
        .posability_right {
            display: flex;
            width: 50%;
            justify-content: flex-end;
            background: white;
            
            img:first-child{
                transform: translate(45px, -40px);
            }
          
        }
        .posability_right:after {
            content: url(../img/posability/n.png);
            position: absolute;
            bottom: 35%;
            right: 15%;
        }
        .posability_center{
            position: absolute;
            left: 0;
            right: 0;
            z-index: 1;
            img:first-child{
                position: absolute;
                right: 37%;
            }
            img:nth-child(2){
                position: absolute;
                right: 9%;
                top: -365px;
            }
            img:nth-child(3){
                position: absolute;
                transform: translate(-30px, 145px);
            }
            .icons_wrapper {
                position: absolute;
                display: flex;
            }
        }
    }
}
.posability_bottom {
    position: relative;
    transform: translateY(-40px);
    .icons_wrapper {
        position: relative;
        img {
            width: 82px;
            height: 82px;
            margin-right:12px;
        }
    }
    .rec {
        position: absolute;
        right: -35px;
        top: 0;
    }
    .icons_wrapper:after {
        content: url(../img/posability/3.png);
        position: absolute;
        right: -4%;
        top: -115%;
    }
      
}

.fix {
    position: relative;
    display: flex;
    flex-direction: column;
   
}

.eco {
    margin-top: 150px;
    height: 100%;
    position: relative;
    .eco_wrapper {
        position: relative;
        display: flex;
        .eco_left {
            display: flex;
            width: 50%;
            align-items: center;
            z-index: 22;
        }
        .eco_left::before{
            content: url("../img/ecosystem/4.png");
            position: absolute;
            left: 18%;
            bottom: 60px;
        }
        .eco_left:after{
            content: url("../img/ecosystem/n.png");
            position: absolute;
            left: 12%;
            bottom: 49%;
            
        }
        .eco_center{
            position: absolute;
            left: 0;
            right: 0;
            top: -56px;
            z-index: 12;
            .sun {
                position: absolute;
                left: -25%;
                top: -15%;
                z-index: -1;
            }
            img:first-child{
                transform: translateY(80%);
            }
            img:last-child{
                transform: translateX(4%);
            }
        }
        .eco_right {
            display: flex;
            width: 85%;
            img{
                width: 100%;
            }
        }
    }

}

.office {
    height:100%;
    width: 100%;
    // position: absolute;
    // top: 55%;
    transform: translateY(-415px);
    .office_wrapper{
        .top {
            background-image: url(../img/office/rect.png);
            background-size: cover;
            height: 811px;
            width: 100%;
            .center {
                position: relative;
                transform: translateX(-30px);
                img:first-child {
                    position: absolute;
                    right: 43%;
                    top: 3%;
                }
                img:nth-child(2){
                    transform: translate(32%, 75%);
                }
                img:nth-child(3) {
                    transform: translate(35%, 30%);
                }
                // img:last-child {
                //     transform: translateX(-30px);
                // }
            }
        }
        .bottom {
            height:500px;
            width: 100%;
            background: #FCDA18;
            .container {
                .number {
                    position: absolute;
                    bottom: -10px;
                    left: 28%;
                }
                img:nth-child(2){
                    position: absolute;
                    right: 4%;
                    bottom: -10%;
                }
                .number:after {
                    content: url(../img/office/5_1.png);
                    position: absolute;
                    left: 0px;
                    bottom: -35%;
                    z-index: -1;
                }
                img:nth-child(3) {
                    position: absolute;
                    right: 12%;
                    bottom: 34%;
                }
            }
        }
    }
}

.wecan{
    position: relative;
    .we_cush{
        position: absolute;
        bottom: 120px;
    }
    .wecan_wrapper {
        position: relative;
        .we_rect {
            position: absolute;
            left: 0;
            bottom: 0;
        }
        .wecan_center {
            transform: translate(45px, -170px);
            img {
                position: relative;
                z-index: 2;
            }
        }
        .wecan_center:before{
            content: url(../img/wecan/el1.png);
            position: absolute;
            bottom: -37%;
            right: -28%;
        }
        .wecan_center:after{
            content: url(../img/wecan/el2.png);
            position: absolute;
            top: -40%;
            left: -36%;
        }
    }
    .wecan_wrapper:before {
        content: url(../img/wecan/6-min.png);
        position: absolute;
        left: 19%;
        bottom: 11%;
    }
    .wecan_wrapper:after {
        content: url(../img/wecan/n.png);
        position: absolute;
        top: 16%;
        left: 14%
    }
}

video {
    width: 100%;
}

@media (max-width:1280px) {
    .variants {
        .variants_wrapper{
            .variants_left{
                .mac {
                    width: 100%;
                    transform: translate(-25px, -55px);
                }
            }
            .variants_right{
                .mac2{
                    width: 100%;
                    transform: translate(25px, -70px);
                }
            }
        }
    }
    .style {
        .style_wrapper {
            .style_left{
                .var {
                    width: 100%;
                }
                img:first-child{
                    transform: translate(50px, 40px);
                }
                img:nth-child(2){
                    transform: translate(10px, -10px);
                }
                img:last-child {
                  transform:  translate(-25px, -70px);
                }
            }
            .style_center{
                .var{
                    right: -2%; 
                }
            }
            .style_center:before {
                right: -40px;
            }
        }
    } 
    .whywe .whywe_wrapper .whywe_left img {
        width: 60%;
        transform: translateY(35%);
    }
    .whywe .whywe_wrapper .whywe_left img:first-child{
        transform: translate(-15%, 47%);
    }
    .whywe .whywe_wrapper .whywe_right img {
        transform: translate(45px, 530px);
        height: 134px;
        width: 90%;
        z-index: -2;
    }
    .posability .posability_wrapper .posability_right img:first-child {
        z-index: 1;
    }
    .posability .posability_wrapper .posability_right:after {
        bottom: 50%;
        right: 0%;
    }
    .posability_bottom .icons_wrapper:after {
        right: 4%;
        top: -115%;
    }
    .posability_bottom .rec {
        width: 9%;
        height: 80px;
    }
    .office {
        transform: translateY(0); 
    }
    .eco .eco_wrapper .eco_left{
        img{
            width: 129px;
            height: 103px;
            transform: translateY(140%);
        }
    }
    .eco .eco_wrapper .eco_left::before {
        left: 2%;
        bottom: -37%;
    }
    .office .office_wrapper .bottom .container .number {
        position: absolute;
        bottom: -5px;
        left: 16%;
    }
    .office .office_wrapper .top .center img:nth-child(2) {
        transform: translate(34%, 76%);
    }
    .office .office_wrapper .bottom .container img:nth-child(3) {
        right: 2%;
    }
    .office .office_wrapper .bottom .container img:nth-child(2) {
        right: -4%;
    }

    .wecan_wrapper {
        margin-top: 290px;
    }
    .wecan .we_cush {
        height: 102%;
        z-index: 1;
    }
    .wecan .wecan_wrapper:after {
        left: 1%;
    }
    .wecan .wecan_wrapper:before {
        content: url(../img/wecan/6-min.png);
        position: absolute;
        left: 60%;
        bottom: 0%;
    }
}   

@media (max-width: 992px) {
    .main-unitcity{
        .container {
            width: 970px;
        }
    }
  
    .main-unitcity .unit_top_wrapper {
        border-radius: 0px 0px 300px 0px;
    }
}

@media (max-width: 768px) {
    
    .main-unitcity .container {
        width: 750px;
        padding: 0 30px;
    }
    .project p, .project li, .project ol {
        font-size: 20px;
    }
    .variants {
        margin-bottom: -75px;
    }
    .variants_wrapper {
        img{
            width: 100%;
        }
    }
    .variants .variants_wrapper .variants_left .mac {
        transform: translate(-25px, -5px);
    }

    .style {
        height: 580px;
    }
    .style_wrapper {
      .pre1g{
          width: 100%;
      }
    }
    .style .style_wrapper .style_left img:nth-child(2) {
        transform: translate(10px, 50px);
    }
    .style .style_wrapper .style_left img:first-child {
        transform: translate(40px, 75px);
    }
    .style .style_wrapper .style_left img:last-child {
        transform: translate(-25px, 25px);
    }
    .style .style_wrapper .style_center:before {
        content: '';
        background: url(../img/style/1.png);
        position: absolute;
        bottom: -25px;
        right: -30px;
        z-index: 0;
        height: 130px;
        width: 80px;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .whywe {
        height: 555px;
    }
    .whywe .whywe_wrapper .whywe_center img:nth-child(2) {
        transform: translate(30px, -30px);
        width: 100%;
    }
    .whywe .whywe_wrapper .whywe_center:after {
        content: '';
        background: url(../img/whywe/2.png);
        left: 53%;
        bottom: -12%;
        position: absolute;
        height: 130px;
        width: 80px;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .posability .posability_wrapper .posability_center img:nth-child(2) {
        right: 15%;
        width: 210px;
        top: -232px;
    }
    .whywe .whywe_wrapper .whywe_left img:last-child {
        width: 80%;
    }
    .whywe .whywe_wrapper .whywe_right img {
        transform: translate(20px, 270px);
        height: 50px;
    }

    .posability {
        height: 100%;
        margin-top: 60px;
    }

    .posability .posability_wrapper .posability_center img:first-child {
        position: absolute;
        right: 30%;
    }
    .posability .posability_wrapper .posability_center img:nth-child(3) {
        width: 100%;
    }
    .posability .posability_wrapper .posability_right img:first-child {
        width: 100%;
    }
    .posability_bottom {
        transform: translate(-11px,-15px);
    }
    .posability_bottom .icons_wrapper img {
        width: 40px;
        height: 40px;
        margin-right: 12px;
    }
    .posability_bottom .rec {
        height: 40px;
        width: 12%;
    }
    .posability_bottom .icons_wrapper:after {
        content: '';
        background: url(../img/posability/3.png);
        height: 130px;
        width: 80px;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        right: 4%;
        top: -115%;
    }
    .eco {
        margin-top: 80px;
    }
    .eco .eco_wrapper .eco_center img:first-child {
        transform: translate(0px, 40px);
    }
    .eco .eco_wrapper .eco_center img:last-child {
        width: 100%;
    }
    .eco .eco_wrapper .eco_left img {
        width: 84px;
        height: 61px;
        transform: translateY(163%);
    }
    .eco .eco_wrapper .eco_left:after {
        content: "";
        background: url(../img/ecosystem/n.png);
        height: 60px;
        width: 80px;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        position: absolute;
        left: 2%;
        bottom: 49%;
    }
    .eco .eco_wrapper .eco_left::before {
        content: '';
        background: url(../img/ecosystem/4.png);
        height: 130px;
        width: 80px;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        left: 4%;
        bottom: -120px;
    }
    .eco .eco_wrapper .eco_center .sun {
       width:80%;
    }
    .office .office_wrapper .top .center img:first-child {
        right: 30%;
        top: -4%;
    }
    .office .office_wrapper .top .center img:nth-child(2) {
        transform: translate(8%, 57%);
    }
    .pre5g {
        width: 100%;
        transform: translateY(-15%);
    }
    .office .office_wrapper .top .center img:nth-child(3) {
        transform: translate(3%, -66%);
        width: 100%;
    }
    .office .office_wrapper .top {
        height: 592px;
    }
    .office .office_wrapper .bottom {
        height: 290px;
    }
    .office .office_wrapper .bottom .container img:nth-child(2) {
        width: 210px;
    }
    .office .office_wrapper .bottom .container img:nth-child(3) {
        bottom: 30%;
        height: 55px;
    }
    .office .office_wrapper .bottom .container .number {
        bottom: 0px;
        width: 100px;
        height: 100px;
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    .office .office_wrapper .bottom .container .number:after {
        content: '';
        background: url(../img/office/5_1.png);
        position: absolute;
        height: 140px;
        width: 77px;
        background-size: contain;
        background-repeat: no-repeat;
        left: 21px;
        bottom: -32%;
        z-index: -1;
    }
    .wecan {
        margin-bottom: -50px;
    }
    .wecan_wrapper {
        margin-top: 240px;
    }
    .wecan .wecan_wrapper .wecan_center img {
        position: relative;
        z-index: 2;
        width: 100%;
    }
    .wecan .wecan_wrapper .wecan_center:before {
        content: '';
        background: url(../img/wecan/el1.png);
        height: 240px;
        width: 277px;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        bottom: -37%;
        right: -3%;
    }
    .wecan .wecan_wrapper .wecan_center:after {
        content: '';
        background: url(../img/wecan/el2.png);
        height: 240px;
        width: 277px;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        top: -30%;
        left: -10%;
    }
    .wecan .we_cush {
        height: 90%;
        z-index: 1;
        transform: translate(-58px, 10px);
    }
    .wecan .wecan_wrapper:before {
        content: '';
        background: url(../img/wecan/6-min.png);
        height: 140px;
        width: 77px;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        left: 60%;
        bottom: 17%;
    }
    .wecan .wecan_wrapper .we_rect {
        width: 30%;
        bottom: 50px;
    }
    .wecan .wecan_wrapper:after {
        content: '';
        background: url(../img/wecan/n.png);
        position: absolute;
        height: 140px;
        width: 77px;
        background-size: contain;
        background-repeat: no-repeat;
        left: 5%;
        top: 0%;
    }
  
}


@media (max-width: 414px) {
  .main-unitcity .container{
      width: 375px;
  }  
  .main-unitcity .mobile  {
      display: block;
  }
    .desk  {
        display: none;
    }
    .u_logo{
        max-width: 280px;
    }
    .main-unitcity .unit_top_wrapper {
        border-radius: 0px 0px 90px 0px;
        height: 685px;
    }
    .main-unitcity .unit_top_wrapper .hero h2 {
        font-size:16px;
        line-height: 19px;
        font-style: normal;
        font-weight: normal;
    }
    .main-unitcity .unit_top_wrapper .hero .hero_links {
    transform: translate(45px, 10px);
    }
    .main-unitcity .unit_top_wrapper .hero .hero_icons {
        transform: translate(-25px, -15px);
    }
    .hero_icon {
        width: 64px;
    }
    .project h3 {
        font-size: 20px;
    }
    .project p, .project li, .project ol {
        font-size: 16px;
    }
    .variant_text {
        .variant {
            width: 142px;
        }
        .vubor{
            width: 67px;
            align-self: flex-start!important;
            margin-top: 10px!important;
            transform: translate(0px, 0px)!important;
        }
    }
    .variants .variants_wrapper .variants_left .mac {
        width: 192px;
        transform: translate(-50px, -5px);
    }
    .variants .variants_wrapper .variants_right .mac2 {
       width: 199px;
       transform: translate(-25px, -25px)!important;
    }
    .variants_wrapper .variants_right .stylet{
        transform: translate(-35px, -10px)!important;
        width: 155px;
    }
}